src/main/mule/flights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc52ed76-8443-41c8-9b4b-859cf4062f81" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="27d8d8a0-317a-4baa-9e92-dadbcfb7e363" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e9cc5fed-d053-44a0-a1e0-a9966a41aa00" basePath="/essentials/united/flights" >
		<http:request-connection host="ilt.learn.mulesoft.com" port="80" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3508470e-9625-4fb4-8654-c47553ca2f0c" >
		<wsc:connection wsdlLocation="http://ilt.learn.mulesoft.com/delta?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://ilt.learn.mulesoft.com/delta" />
	</wsc:config>
	<flow name="flightsFlow-american" doc:id="f55d40fe-f2f4-4c4b-b058-dbc6a0cfee67" >
		<http:listener doc:name="Listener" doc:id="68b5868e-84a9-49cd-aea6-1ba34635862b" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.dest]" doc:name="Set Variable" doc:id="e2fa28f6-d84b-4a9a-ae87-807d097917db" variableName="dest"/>
		<db:select doc:name="Select" doc:id="07a4f003-c35d-4e74-b3e2-6f23bbc4a535" config-ref="Database_Config">
			<db:sql >select * from american where toAirport = :destination</db:sql>
			<db:input-parameters ><![CDATA[#[{'destination' : vars.dest}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fd6adf30-ccd4-4509-b303-fe245166eeeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airline: payload01.airlineName default "",
	flightCode: ((payload01.code1default "") ++ payload01.code1) ++ (payload01.code2 default ""),
	fromAirportCode: payload01.fromAirport default "",
	toAirportCode: payload01.toAirport default "",
	departureDate: payload01.takeOffDate as String default "",
	emptySeats: payload01.seatsAvailable default 0,
	totalSeats: payload01.totalSeats default 0,
	price: payload01.price default 0,
	planeType: payload01.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="be4dc1e4-fb28-42dc-b12c-3e6f08e48f47" message="#[payload]"/>
	</flow>
	<flow name="flightsFlow-united" doc:id="ffcc440a-d7ba-4202-bf0f-3f240881be28" >
		<http:listener doc:name="Listener" doc:id="724f7493-f970-45c7-aec0-5c714d3fe95e" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.dest]" doc:name="Set Variable" doc:id="f9ce62ae-46fd-4e57-952f-653d02f3e626" variableName="dest"/>
		<http:request method="GET" doc:name="Request" doc:id="ffc9e48b-cb1e-4358-9218-32fb5d13dfad" config-ref="HTTP_Request_configuration" path="/{destination}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"destination" : vars.dest
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f2173463-2f11-4763-9706-01e9ae85d40e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.flights map ( flight , indexOfFlight ) -> {
	airline: flight.airlineName,
	flightCode: flight.code,
	fromAirportCode: flight.origin,
	toAirportCode: flight.destination,
	departureDate: flight.departureDate,
	emptySeats: flight.emptySeats,
	price: flight.price,
	planeType: flight.planeType
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f514cf88-1ef1-44ec-8b81-56e7191b19b3" message="#[payload]"/>
	</flow>
	<flow name="flightsFlow-delta" doc:id="5897cf45-f1ae-4048-bfcb-61e26287ebf0" >
		<http:listener doc:name="Listener" doc:id="f0de5121-a1f5-4ab2-9086-afa6777aa931" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.dest]" doc:name="Set Variable" doc:id="048d90e3-1169-4cd4-a461-5d9e9f9d20d4" variableName="dest"/>
		<ee:transform doc:name="Transform Message" doc:id="ca71e0f2-c3f5-471e-8397-4390fb69db8d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.dest as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="80f89c38-9f7e-430c-bd65-c8c4aabfa5a9" config-ref="Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="Transform Message" doc:id="0b3d6752-354c-4145-aa25-b33a4b20ca45" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airline: return.airlineName default "",
	flightCode: return.code default "",
	fromAirportCode: return.origin default "",
	toAirportCode: return.destination default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d63c1707-02f3-4b62-bdc8-4aebcb412c1a" message="#[payload]"/>
	</flow>
</mule>
